@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
$gray: #181818;
$white: #fff;
$green: #71ae09;
$font: 'Open Sans', sans-serif;
body{
    font-family: $font;
    margin: 0;
    padding: 0;
    color: $white;
    background-color: $gray;
}

.container{
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    .header{
        .header-wrapper{
            display: flex;
            align-items: center;
            .header-logo{
                a{
                    color: $white;
                    text-decoration: none;
                }
            }
            .header-menu{
                margin-right: auto;
                margin-left: auto;
                a{
                    color: $white;
                    text-decoration: none;
                }
            }

            .header-right-side{
                display: flex;
                align-items: center;
                span{
                    margin-right: 20px;
                }
                a{
                    img{
                        width: 25px;
                        height: auto;
                        margin-right: 10px;
                        &:not(:last-child){
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        ul{
            display: flex;

        }
        li{
            &:not(:last-child){
                margin-right: 10px;
            }
            list-style-type: none;
        }
    }
    .main{
        margin-top: 100px;
        .main-wrapper{
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            .main-button{
                background-color: $green;
                color: $white;
                text-decoration: none;
                padding:12px 20px;
                max-width: 100px;
            }

            .slider {
                height: 250px;
                margin: auto;
                overflow: hidden;
                position: relative;
                width: 1140px;
            }
            
            .slider::before, .slider::after {
                content: "";
                height: 100%;
                position: absolute;
                width: 100px;
                z-index: 2;
            }
            
            .slider::after {
                right: 0;
                top: 0;
                -webkit-transform: rotateZ(180deg);
                transform: rotateZ(180deg);
            }
            
            .slider::before {
                left: 0;
                top: 0;
            }
            
            .slider .slide-track {
                animation: scroll 80s linear infinite;
                display: flex;
                width: calc(250px * 18);
            
            }
            
            .slider .slide-track:hover {
                animation-play-state: paused;
            }
            
            .slider .slide {
                height: 250px;
                width: 250px;
            }
            
            
            .slide:nth-child(1), .slide:nth-child(10) {
                background-image: url(../img/fifa.jpg);
            }
            
            .slide:nth-child(2), .slide:nth-child(11) {
                background-image: url(../img/mk.jpg);
            }
            
            .slide:nth-child(3), .slide:nth-child(12) {
                background-image: url(../img/bf5.jpg);
            }
            
            .slide:nth-child(4), .slide:nth-child(13) {
                background-image: url(../img/fh5.jpg);
            }
            
            .slide:nth-child(5), .slide:nth-child(14) {
                background-image: url(../img/out.jpg);
            }
            
            .slide:nth-child(6), .slide:nth-child(15) {
                background-image: url(../img/swbf.jpg);
            }
            
            .slide:nth-child(7), .slide:nth-child(16) {
                background-image: url(../img/inj2.jpg);
            }
            
            .slide:nth-child(8), .slide:nth-child(17) {
                background-image: url(../img/alin.jpg);
            }
            
            .slide:nth-child(9), .slide:nth-child(18) {
                background-image: url(../img/doom.jpg);
            }
            
            @keyframes scroll {
                0% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(calc(-250px * 9));
                }
            }
        }
    }
}

