@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
$gray: #181818;
$lightgray: #3d3d3d;
$white: #fff;
$green: #71ae09;
$font: 'Open Sans', sans-serif;
$font_2: 'Comfortaa', cursive;
body{
    display: flex;
    font-family: $font;
    margin: 0;
    padding: 0;
    color: $white;
    background-color: $gray;
}

.container{
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    .header{
        .header-wrapper{
            display: flex;
            align-items: center;
            .header-logo{
                a{
                    color: $white;
                    text-decoration: none;
                }
            }
            .header-menu{
                margin-right: auto;
                margin-left: auto;
                a{
                    color: $white;
                    text-decoration: none;
                }
            }

            .header-right-side{
                display: flex;
                align-items: center;
                span{
                    margin-right: 20px;
                }
                a{
                    img{
                        width: 25px;
                        height: auto;
                        margin-right: 10px;
                        &:not(:last-child){
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        ul{
            display: flex;

        }
        li{
            &:not(:last-child){
                margin-right: 10px;
            }
            list-style-type: none;
        }
    }
    .main{
        margin-top: 100px;
        .main-wrapper{
            display: flex;
            flex-direction: column;
            .main-blocks{
                display: flex;
            }
            .main-button{
                color: $white;
                text-decoration: none;
                padding:12px 20px;
                max-width: 100px;
                border: 1px solid $green;
                transition: 0.3s;
                
                &:hover{
                    transition: 0.3s;
                    background-color: $green;
                }
            }

            .main-h1{
                text-align: left;
                margin-bottom: 0px;
                font-family: $font_2;
                font-weight: 700;
                font-size: 80px;
            }
            .main-h2{
                margin-bottom: 35px;
                margin-top: 5px;
                font-weight: 400;
            }

            .slider {
                height: 250px;
                margin: auto;
                overflow: hidden;
                position: relative;
                width: 1140px;
            }
            
            .slider::before, .slider::after {
                content: "";
                height: 100%;
                position: absolute;
                width: 100px;
                z-index: 2;
            }
            
            .slider::after {
                right: 0;
                top: 0;
                -webkit-transform: rotateZ(180deg);
                transform: rotateZ(180deg);
            }
            
            .slider::before {
                left: 0;
                top: 0;
            }
            
            .slider .slide-track {
                animation: scroll 80s linear infinite;
                display: flex;
                width: calc(250px * 18);
            
            }
            
            .slider .slide-track:hover {
                animation-play-state: paused;
            }
            
            .slider .slide {
                height: 250px;
                width: 250px;
            }
            
            
            .slide:nth-child(1), .slide:nth-child(10) {
                background-image: url(../img/fifa.jpg);
            }
            
            .slide:nth-child(2), .slide:nth-child(11) {
                background-image: url(../img/mk.jpg);
            }
            
            .slide:nth-child(3), .slide:nth-child(12) {
                background-image: url(../img/bf5.jpg);
            }
            
            .slide:nth-child(4), .slide:nth-child(13) {
                background-image: url(../img/fh5.jpg);
            }
            
            .slide:nth-child(5), .slide:nth-child(14) {
                background-image: url(../img/out.jpg);
            }
            
            .slide:nth-child(6), .slide:nth-child(15) {
                background-image: url(../img/swbf.jpg);
            }
            
            .slide:nth-child(7), .slide:nth-child(16) {
                background-image: url(../img/inj2.jpg);
            }
            
            .slide:nth-child(8), .slide:nth-child(17) {
                background-image: url(../img/alin.jpg);
            }
            
            .slide:nth-child(9), .slide:nth-child(18) {
                background-image: url(../img/doom.jpg);
            }
            
            @keyframes scroll {
                0% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(calc(-250px * 9));
                }
            }

            .main-why-items{
                display: flex;
                .why-item{
                    -webkit-box-shadow: -13px 10px 8px 0px rgba(34, 60, 80, 0.2);
                    -moz-box-shadow: -13px 20px 8px 0px rgba(34, 60, 80, 0.2);
                    box-shadow: -13px 20px 8px 0px rgba(34, 60, 80, 0.2);
                    background-color: $lightgray;
                    width: 250px;
                    padding: 30px 20px;
                    display: flex;
                    flex-direction: column;
                    &:not(:last-child){
                        margin-right: 10px;
                    }
                    .why-item-number{
                        font-size: 70px;
                        font-weight: bold;
                        position:relative;
                        bottom: 70px;
                        left: -25px;
                        width: 1px;
                        height: 0px;
                    }

                    .why-item-head{
                        font-weight: bold;
                        font-size: 30px;
                    }
                }
            }

            .main-span-games{
                margin-bottom: 30px;
            }
            .main-prices{
                width: 100%;
                a{
                    color: $white;
                    text-decoration: none;
                }
                .price-items{
                    display: flex;
                    justify-content: space-between;
                    .price-item{
                        display: flex;
                        flex-direction: column;
                        background-color: $green;
                        padding: 10px 20px;
                        border-radius: 15px;
                    }

                    .two-item{
                        background-color: #68bbe3;
                    }

                    .three-item{
                        background-color: #91a7ff;
                    }
                }
            }

        }
    }
}

@media (max-width:1440px) {
    .container{
        max-width: 1000px;
    }
}